body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: wheat;
}

a {
    display: flex;
    font-size: 30px;
    color: black;
    justify-content: center;
    margin-top: 20px;
}

#timer{
    display: flex;
    padding: 20px;
    justify-content: center;
    font-size: 40px;
    color: black;
    margin-top: 80px;
}

#information{
    display: flex;
    margin-left: 600px;
    margin-right: 600px;
}

#questionsBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    font-size: 25px;  
    padding: 10px;
    text-align: center;
}

#startButt{
    display: flex;
    font-size: 30px;
    margin-bottom: 20px;
    flex-direction: column;
}

#startButt:hover{
    cursor: pointer;
    
}

.bodyScores{
   display: flex; 
   align-items: center;
   flex-direction: column;
   margin-top: 300px;
}

#scoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    scale: 3;
}

#listItems{
    list-style: decimal;
}